body {
    font-size: 14px;
    font-family: "Arial", sans-serif, Georgia;
    margin: 20px;
}

.game_system{
    display: flex;
    flex-direction: row;
}

.game_board{

}

.game_board_row{
    width: 720px;
}

.game_board_row:after{
    clear: both;
    content: "";
    display: inline;
    overflow: hidden;
}

.cross_square{
    background: white;
    border: 1px solid black;
    width: 48px;
    height: 48px;
    line-height: 48px;
    margin-left: -1px;
    margin-top: -1px;
    padding: 0px;
    float: left;
}

.c_square_empty, .c_square_black, .c_square_white{
    width: 100%;
    height: 100%;
}

.c_square_empty{
    content:url("img/empty.png");
}

.c_square_empty:hover{
    filter:brightness(0.75);
    outline:none;
}

.c_square_black{
    content:url("img/black.png");
}

.c_square_white{
    content:url("img/white.png");
}